* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Lato', sans-serif;
  font-family: 'Open Sans', sans-serif;
  background: #a36629;
}

a {
  text-decoration: none;
}

.text p {
  font: normal 2rem 'Open Sans';
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #cd8842;
}

header h1 {
  color: #fff;
  font: bold 3rem 'Open Sans';
  padding: 1rem 0 1rem 3.8rem;
}

header a {
  font: bold 1.25rem 'Open Sans';
}

nav {
  padding-right: 4.7rem;
}

nav a {
  color: #fff;
  margin-right: 2rem;
}

.banner {
  height: 33rem;
  background-image: url(./assets/banner.svg);
  background-repeat: no-repeat;
  background-size: contain;

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-content: center;
}

.banner h2 {
  font: bold 4rem 'Lato';
  text-align: center;
  color: #fff;
}

.banner p {
  font: bold 2.25rem 'Lato';
  text-align: center;
  color: #fff;
}

.container {
  margin-bottom: 5rem;
  padding-top: 3rem;
  color: #fff;
  text-align: center;
}

#about h3 {
  font: bold 3.25rem 'Open Sans';
  margin-bottom: 2rem;
}

#about .text p {
  margin-bottom: 2rem;
}

.clock {
  display: flex;
  align-items: center;
  justify-content: center;
}

.clock-box {
  background: black;
  padding: 1.5rem 3rem;
  border-radius: 1rem;
  align-content: center;
}

.clock p,
.clock-box p {
  font: normal 2.5rem 'Open Sans';
}

.clock-text {
  margin-right: 4.5rem;
  margin-top: 0.5rem;
}
.clock-text span {
  text-align: center;
  margin-left: 6rem;
}

#departments .text p {
  margin-bottom: 3rem;
}

#departments .cards {
  margin: 0 5rem;
  display: flex;
  justify-content: space-between;
}

.swiper-slide {
  height: auto;
  padding: 4rem 1rem;
}

.swiper-pagination-bullet-active {
  background: white;
}

#sale {
  padding-bottom: 6rem;
}

#sale .text p {
  margin-bottom: 5rem;
}

#sale .btn-subscribe {
  display: flex;
  align-items: center;
  justify-content: center;
}

#sale .btn-subscribe input {
  border: 1px solid #ddd;
  height: 3rem;
  width: 30%;
  padding: 0 0.5rem;
  border-radius: 0.25rem 0 0 0.25rem;
  font: normal 1.3rem 'Open Sans';
}

#sale .btn-subscribe input:focus,
#sale .btn-subscribe input:active {
  outline: none;
  box-shadow: none;
}

#sale .btn-subscribe button {
  height: 3.1rem;
  width: 10rem;
  border: 1px solid #ff4c4c;
  background: #ff4c4c;
  color: #fff;
  border-radius: 0 0.25rem 0.25rem 0;

  font: normal 1.1rem 'Lato';
  cursor: pointer;
}

#sale .btn-subscribe button:focus,
#sale .btn-subscribe button:active {
  outline: none;
  box-shadow: none;
}

#sale span.error {
  color: orange;
  font: normal 1.2rem 'Opens Sans';
}

footer.container {
  background: #cd8842;
  height: 10rem;
  margin-bottom: 0;
}

footer p {
  margin-bottom: 5rem;
  font: normal 24px 'Lato';
}

footer p:first-child {
  margin-bottom: 2rem;
}

/* ---------------- Responsividade -------------------------*/

@media (max-width: 720px) {
  .text p {
    font: normal 1rem 'Open Sans';
  }
  header {
    justify-content: space-evenly;
  }
  header h1 {
    font: bold 1.5rem 'Open Sans';
    padding: 1rem 0 1rem 3rem;
  }
  header a {
    font: bold 0.9rem 'Open Sans';
  }
  nav {
    padding-right: 0.5rem;
  }
  nav a {
    margin-right: 1rem;
  }

  .banner {
    height: 20rem;
  }
  .banner h2 {
    font: bold 2rem 'Lato';
  }
  .banner p {
    font: bold 1rem 'Lato';
    padding-bottom: 3rem;
  }

  .container {
    padding-top: 0;
  }

  #about h3 {
    font: bold 1.25rem 'Open Sans';
  }

  .clock-box {
    padding: 1rem 1.5rem;
  }
  .clock p,
  .clock-box p {
    font: normal 2rem 'Open Sans';
  }

  .clock-text {
    margin-right: 2rem;
    margin-top: 0.5rem;
  }
  .clock-text span {
    text-align: center;
    margin-left: 3rem;
    font-size: 12px;
  }

  #departments .text p {
    margin-bottom: 1.5rem;
  }

  #departments .cards {
    margin: 0 0.5rem;
  }

  .swiper-slide {
    padding: 2rem 0.1rem;
  }

  #sale {
    padding-bottom: 3rem;
  }

  #sale .text p {
    margin-bottom: 2.5rem;
  }

  #sale .btn-subscribe input {
    height: 1.8rem;
    width: 40%;
    font: normal 0.8rem 'Open Sans';
  }

  #sale .btn-subscribe button {
    height: 1.8rem;
    width: 4.5rem;
    font: normal 0.6rem 'Lato';
  }

  footer.container {
    height: 6rem;
  }

  footer p {
    font: normal 16px 'Lato';
    margin-bottom: 0;
  }
  footer p:first-child {
    padding-top: 1rem;
    margin-bottom: 2rem;
  }
}
@media (max-width: 610px) {
  .banner p {
    padding-bottom: 7rem;
  }
}
@media (max-width: 550px) {
  .banner p {
    padding-bottom: 8rem;
  }
  .banner h2 {
    font: bold 1.6rem 'Lato';
  }
  .banner p {
    font: bold 0.9rem 'Lato';
  }

  #about {
    margin-top: -6rem;
  }

  .clock-box {
    padding: 0.75rem 1.25rem;
  }
  .clock p,
  .clock-box p {
    font: normal 1.75rem 'Open Sans';
  }

  .clock-text {
    margin-right: 1.7rem;
    margin-top: 0.5rem;
  }
  .clock-text span {
    margin-left: 2.3rem;
  }
}
@media (max-width: 430px) {
  header h1 {
    padding: 1rem 0.5rem 1rem 1rem;
  }
  nav {
    padding-right: 0rem;
  }
  .banner h2 {
    font: bold 1.3rem 'Lato';
  }
  .banner p {
    font: bold 0.7rem 'Lato';
    padding-bottom: 10rem;
  }

  #sale .btn-subscribe input {
    height: 1.7rem;
    width: 40%;
    font: normal 0.7rem 'Open Sans';
  }

  #sale .btn-subscribe button {
    height: 1.7rem;
    width: 4rem;
    font: normal 0.55rem 'Lato';
  }
}
@media (max-width: 320px) {
  .text p {
    font: normal 0.8rem 'Open Sans';
  }
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 0.5rem;
  }
  header h1 {
    padding: 1rem 0;
  }
  header a {
    padding: 0;
    margin: 0;
  }
  header a:nth-child(2) {
    margin: 0 1rem;
  }
  .banner h2 {
    font: bold 1rem 'Lato';
  }
  .banner p {
    padding-bottom: 12rem;
    font: bold 0.5rem 'Lato';
  }
  #about {
    margin-top: -10rem;
  }
  #about h3 {
    font: bold 1rem 'Open Sans';
  }

  #about .text p {
    margin-bottom: 1rem;
  }

  .clock-box {
    padding: 0.5rem 1rem;
  }
  .clock p,
  .clock-box p {
    font: normal 1.5rem 'Open Sans';
  }

  .clock-text {
    margin-right: 1rem;
    margin-top: 0rem;
  }
  .clock-text span {
    margin-left: 1.7rem;
    font-size: 10px;
  }

  #departments .text p {
    margin-bottom: 0.5rem;
  }

  #sale {
    padding-bottom: 1.5rem;
  }

  #sale .text p {
    margin-bottom: 2rem;
  }

  #sale .btn-subscribe input {
    height: 1.5rem;
    font: normal 0.54rem 'Open Sans';
  }

  #sale .btn-subscribe button {
    height: 1.5rem;
    width: 4.5rem;
    font: normal 0.5rem 'Lato';
  }

  footer p {
    font: normal 12px 'Lato';
  }
}
